vert_threads=100 75 50 25 1
vert_ram=256 512 1024 2048
vert_cores=1 2 4
vert_workload_dir=/Users/jude/dev/dbms/dbmsprj/adbms/BG/workloads/
vert_load_workloads=populateDB
vert_action_workloads=ViewCommentOnResource ViewTopKResources ViewProfileAction ViewFriendReqAction PostCommentOnResourceAction ListFriendsAction GetCommentOfResourceAction
vert_workload_operation_count=10000 100000 1000000
vert_workload_user_count=5000 10000 15000 20000 100000 500000 1000000
vert_workload_user_friend_count=100 250 500 1000 2000
vert_workload_user_resource_count=100 250 500 1000
vert_mode=-load -t
vert_export_file_base=/Users/Jude/results/voltdb/
bg_param_db=voltdbDataStore.voltdbClient
bg_param_db_driver=
config_dir=/Users/jude/dev/dbms/dbmsprj/adbms/BG/db/voltdb
datastore_service=
datastore_config_path=/Users/jude/Downloads/voltdb/voltdb/log4j.xml
datastore_library_path=/Users/jude/Downloads/voltdb/voltdb
classpath=/Users/jude/Downloads/voltdb/voltdb/*:/Users/jude/Downloads/voltdb/lib/*