vert_threads=100 50 25 1
vert_ram=256 512 1024 2048
vert_cores=1 2 4
vert_workload_dir=/Users/jude/dev/dbms/dbmsprj/adbms/BG/workloads/
vert_load_workloads=populateDB
vert_action_workloads=ViewProfileAction PostCommentOnResourceAction ListFriendsAction ViewFriendReqAction ViewCommentOnResource   
vert_workload_operation_count=100 1000 10000
vert_workload_user_count=1000 10000 100000
vert_workload_user_friend_count=100
vert_workload_user_resource_count=100
vert_mode=-load -t
vert_export_file_base=/Users/Jude/results/voltdb/
bg_param_db=voltdbDataStore.voltdbClient
bg_param_db_driver=
bg_param_db_url=localhost
bg_param_db_remote_url=localhost
config_dir=/Users/jude/dev/dbms/dbmsprj/adbms/BG/db/voltdb
datastore_service=
datastore_config_path=/Users/jude/Downloads/voltdb/voltdb/log4j.xml
datastore_library_path=/Users/jude/Downloads/voltdb/voltdb
classpath=/Users/jude/Downloads/voltdb/voltdb/*:/Users/jude/Downloads/voltdb/lib/*