vert_threads=100 75 50 25 1
vert_ram=256 512 1024 2048
vert_cores=1 2 4
vert_workload_dir=
vert_load_workloads=popolateDB
vert_action_workloads=w1 w2 w3 w4 w5 w6 w7 w8 w9 w10
vert_workload_operation_count=10000 100000 1000000
vert_workload_user_count=5000 10000 15000 20000 100000 500000 1000000
vert_workload_user_friend_count=100 250 500 1000 2000
vert_workload_user_resource_count=100 250 500 1000
vert_mode=load test
vert_export_file_base=
bg_param_db=mysqlDataStore.MysqlClient
bg_param_db_user=root
bg_param_db_passwd=
bg_param_db_url=jdbc:mysql://localhost:3306/bg
bg_param_db_driver=com.mysql.jdbc.Driver
config_dir=/Users/jude/dev/dbms/dbmsprj/adbms/BG/db/mysql/scripts
datastore_service=/opt/local/etc/LaunchDaemons/org.macports.mysql5/mysql5.wrapper